<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>

@functions {
            string ActiveClass(string controller, string action = "Index", string area = "")
            {
                    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                    var currentArea = ViewContext.RouteData.Values["area"]?.ToString() ?? "";

                    if (currentController == controller &&
                    currentAction == action &&
                    currentArea == area)
                    {
                            return "bg-slate-800/30 text-gray-300 p-2";
                    }

                    return "";
            }
    }
    @{
            string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
            string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
            string currentArea = ViewContext.RouteData.Values["area"]?.ToString();
    }

<body>
    <!-- navbar goes here -->
    <nav class="bg-gray-100">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">

                <div class="flex space-x-4">
                    <!-- logo -->
                    <div>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                            </svg>
                            <span class="font-bold">Better Dev</span>
                        </a>
                    </div>

                    <!-- primary nav -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="py-5 px-3 text-gray-700 hover:text-gray-900 @ActiveClass("Home", "Index")">Products</a>
                        <a asp-area="" asp-controller="Order" asp-action="Index" class="py-5 px-3 text-gray-700 hover:text-gray-900 @ActiveClass("Order", "Index")">My Orders</a>
                    </div>
                </div>

                <!-- secondary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <partial name="_LoginPartial" />
                </div>

                <!-- mobile button goes here -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="block py-2 px-4 text-sm hover:bg-gray-200 @ActiveClass("Home", "Index")">Products</a>
            <a asp-area="" asp-controller="Order" asp-action="Index" class="block py-2 px-4 text-sm hover:bg-gray-200 @ActiveClass("Order", "Index")">My Orders</a>
        </div>
    </nav>

    <!-- content goes here -->
    <div class="">
        @RenderBody()
    </div>

    <script>
                // grab everything we need
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        // add event listeners
        btn.addEventListener("click", () => {
          menu.classList.toggle("hidden");
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
