@model IEnumerable<Product>

<div> 
    <h1>Products</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>

                @if (product.ImageUrl != null)
                {
                    <td colspan="4">
                        <img src="@product.ImageUrl" alt="@product.Name" class="img-thumbnail" style="max-width: 200px;" />
                    </td>   
                }
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>
                        <a asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-primary">Add to Cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>