<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="PeePal is a public restroom finder app that helps you quickly locate nearby bathrooms wherever you are. Find clean public restrooms fast and stress-free.">
    <meta name="keywords" content="public restrooms near me, restroom finder app, bathroom locator, find public bathrooms, nearby restrooms, toilet finder, restroom map, public toilet app, bathroom near me, pee finder app, travel restroom finder">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Story+Script&display=swap" rel="stylesheet">
</head>
<body class="story-script-regular">
    @functions {
        string ActiveClass(string controller, string action = "Index", string area = "")
        {
            var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
            var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
            var currentArea = ViewContext.RouteData.Values["area"]?.ToString() ?? "";

            if (currentController == controller &&
            currentAction == action &&
            currentArea == area)
            {
                return "bg-violet-900/60 text-white shadow-inner";
            }

            return "";
        }
    }
    @{
        string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        string currentArea = ViewContext.RouteData.Values["area"]?.ToString();
    }

    <nav data-text-bright data-bg="purple"
         class="fixed w-[95vw] min-w-[380px] max-w-[1440px] shadow h-16 md:flex p-4 mx-0 mt-2 mb-12
            top-0 left-1/2 -translate-x-1/2 rounded-full ring-white/50 ring-2 backdrop-blur-md
            shadow-[0_10px_20px_-10px_black] group
            data-[bg=purple]:bg-violet-600/60
            data-[bg=stone]:bg-violet-600/40
            data-text-bright:**:text-white absolute z-50">

        <div class="absolute top-1/2 -translate-y-1/2 right-8">
            <partial name="_LoginPartial" />
        </div>

        <input type="checkbox" id="navbar__control"
               class="md:hidden absolute w-8 h-8 top-4 left-4 z-10 opacity-0" />

        <div class="flex w-fit m-0 text-violet-200/20 border border-violet-300/40 rounded-full
                absolute items-center left-1/2 top-1/2 transform -translate-1/2
                md:left-0 md:mr-4 md:translate-x-0 md:left-4">

            <div>
                <img src="~/images/PeePalLogo.png" class="w-16 h-fit" />
            </div>

            <a asp-controller="Home" asp-action="Index">
                <span class="ml-2 mr-4 text-[clamp(1.1rem,calc(2vw_+_0.1rem),2rem)] font-bold text-violet-100">
                    PeePal
                </span>
            </a>
        </div>

        <!-- OPEN ICON -->
        <div class="md:hidden relative w-8 h-8 cursor-pointer group-has-checked:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                <g fill="#fff" stroke-width="0.5" stroke="#fff">
                    <path d="M8 6.983a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2zM7 12a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1m1 3.017a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2z" />
                    <path fill-rule="evenodd" d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10m-2 0a8 8 0 1 1-16 0a8 8 0 0 1 16 0" clip-rule="evenodd" />
                </g>
            </svg>
        </div>

        <!-- CLOSE ICON -->
        <div class="md:!hidden hidden relative w-8 h-8 cursor-pointer group-has-checked:block">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-dasharray="12" stroke-dashoffset="12"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 12l7 7M12 12l-7 -7M12 12l-7 7M12 12l7 -7">
                    <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="12;0" />
                </path>
            </svg>
        </div>

        <ul class="w-fit my-0 p-0 md:flex items-center align-center rounded-[16px] md:bg-transparent
               md:absolute md:top-1/2 md:left-1/2 md:-translate-1/2 transition-all
               border-[2px_solid_#ffffff88] md:py-4 gap-x-4 lg:gap-x-8
               bg-violet-700/40
               group-has-checked:px-16
               group-has-checked:py-2
               group-has-checked:-translate-x-2
               group-has-checked:my-8">

            <!-- HOME -->
            <li>
                <a asp-controller="Home" asp-action="Index" asp-area=""
                   class="px-4 py-2 rounded-full transition-all
                      md:opacity-100 group-has-checked:opacity-100
                      @ActiveClass("Home", "Index")">
                    Home
                </a>
            </li>

            <!-- ABOUT -->
            <li>
                <a asp-controller="Home" asp-action="About" asp-area=""
                   class="px-4 py-2 rounded-full transition-all
                      md:opacity-100 group-has-checked:opacity-100">
                    About
                </a>
            </li>

            <!-- REVIEWS -->
            <li>
                <a asp-controller="Reviews" asp-action="Index" asp-area="Reviews"
                   class="px-4 py-2 rounded-full transition-all
                      md:opacity-100 group-has-checked:opacity-100
                      @ActiveClass("Reviews", "Index", "Reviews")">
                    Reviews
                </a>
            </li>

            <!-- CONTACT -->
            <li>
                <a asp-controller="Home" asp-action="Contact" asp-area=""
                   class="px-4 py-2 rounded-full transition-all
                      md:opacity-100 group-has-checked:opacity-100
                      @ActiveClass("Home", "Contact")">
                    Contact
                </a>
            </li>

        </ul>

    </nav>

    <script>
        function closeMenu() {
          document.getElementById("navbar__control").checked = false;
        }

        function closeMobileMenuOnResizeWindow() {
          window.addEventListener("resize", () => {
            if (window.innerWidth > 768) {
              document.getElementById("navbar__control").checked = false;
            }
          })
        }
        closeMobileMenuOnResizeWindow();
    </script>



    <section>
        @RenderBody()
    </section>

    <footer>    
        <div class="w-full bg-slate-900 text-gray-300 py-6 mt-12">
            <div class="max-w-6xl mx-auto text-center">
                <p>&copy; @DateTime.Now.Year PeePal. All rights reserved.</p>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
